<!DOCTYPE html>
<html>
<head>

<title>Admin Dashboard</title>
<link rel="stylesheet" href="/css/admin/dashboard.css">

</head>

<body>

<div class="admin-container">

<!-- Sidebar -->

<div class="sidebar">

<h3>LapHub</h3>

<ul>
<li><a href="/admin/dashboard">Dashboard</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Category</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Coupon</a></li>
<li><a href="#">Banner</a></li>
<li><a href="/admin/users">Customers</a></li>
<li><a href="/admin/logout">Logout</a></li>
</ul>

</div>

<!-- Main Content -->

<div class="main-content">

<h2>Dashboard</h2>

<div class="stats">

<div class="card">
<h3>Today's Sales</h3>
<p>₹100,999</p>
</div>

<div class="card">
<h3>Today's Revenue</h3>
<p>₹30,000</p>
</div>

<div class="card">
<h3>Total Users</h3>
<p>20390</p>
</div>

</div>

</div>

</div>

</body>
</html>