<!DOCTYPE html>
<html>

<head>

<title>Change Password</title>

<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/user/changePassword.css">

</head>

<body>

<%- include('../partials/header',{ user }) %>

<div class="password-page">

<div class="password-card">

<h2>Change password</h2>

<form action="/change-password" method="POST">

<div class="input-group">

<label>Current Password</label>

<input 
type="password"
name="currentPassword"
required
>

</div>


<div class="input-group">

<label>New Password</label>

<input 
type="password"
name="newPassword"
required
>

</div>


<div class="input-group">

<label>Confirm password</label>

<input 
type="password"
name="confirmPassword"
required
>

</div>


<button type="submit" class="done-btn">
DONE
</button>

</form>

</div>

</div>

<%- include('../partials/footer') %>

</body>
</html>