<!DOCTYPE html>
<html>

<head>

<title>Change Email</title>

<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/user/editEmail.css">

</head>

<body>

<%- include('../partials/header',{ user }) %>

<div class="email-page">

<div class="email-card">

<h2>Change email</h2>

<% if (error) { %>
<div class="error-message">
  <%= error %>
</div>
<% } %>

<form action="/edit-email" method="POST">

<div class="input-group">

<label>New Email</label>

<input 
type="email"
name="email"
placeholder="Enter new email"
required
>

</div>


<div class="input-group">

<label>Password</label>

<input 
type="password"
name="password"
placeholder="Enter your password"
required
>

</div>


<button type="submit" class="otp-btn">

SEND OTP

</button>

</form>

</div>

</div>

<%- include('../partials/footer') %>

</body>
</html>