<div class="sidebar">

<h3>LapHub</h3>

<ul>
<li><a href="/admin/dashboard">Dashboard</a></li>
<li><a href="/admin/products">Products</a></li>
<li><a href="/admin/category">Category</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Coupon</a></li>
<li><a href="#">Banner</a></li>
<li><a href="/admin/users">Customers</a></li>
<li><a href="/admin/logout">Logout</a></li>
</ul>

</div>